@page{
	background: url("C:/xampp/htdocs/CAVA/docs/certificado.jpg"); 
	background-image-resize:6;	
}

img {
	display: block;
    margin: 0 auto;
    width: 50%;
}

div.datos {
	background-color: #E6E6E6;
	width: 100%;
	border-style: solid;
	border-radius: 10px;
	padding-left: 10px;
}

table.precio {
	width: 100%;
}

td.tdgrande {
	width: 60%;
}

div.identi {
	position: absolute;
	text-align: center;	
}

h1 {
	font-size: 36px;
    letter-spacing: 2px;
    font-family:  'Bookman Old Style';
    color: rgb(84, 84, 84);
}


